html,
body,
#app{
    height: 100%;
    margin: 0;
    padding: 0;
}
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 15px;
}
.el-card{
    box-shadow: 0 2px 2px #8f8f8f !important;
}
.el-table{
    margin-top: 15px;
}
.el-pagination{
    margin-top: 20px;
    float: right;
    margin-bottom: 20px;
}
.el-menu{
    border-right:none;
}
/*消除sweetAlert2的弹窗bug*/
.swal2-shown{
    height: 100% !important;
}
.el-cascader-menu {
    height: 300px;
}
.area-select.large{
    line-height: 20px;
}
